/* Application Container Style */

.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Navbar Styling */

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	max-width: 1440px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.nav__logo {
	font-size: 2rem;
	font-family: 'Ubuntu Mono', monospace;
	position: relative;
	transition: all 400ms;
	font-weight: 300;
}

.nav__logo:hover {
	font-weight: 600;
}

.nav__logo::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: all 300ms;
	border-bottom: 2px solid #ffffff;
}

.nav__logo:hover::before {
	width: 100%;
}

.nav__list {
	list-style: none;
	display: flex;
	gap: 1em;
}

.nav__list li {
	position: relative;
}

.nav__list li::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: all 300ms;
	border-bottom: 1px solid #ffffff;
}

.nav__list li:hover::before {
	width: 100%;
}

/* Footer Styling */

footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

/* Responsive Add-ons */

@media screen and (max-width: 660px) {
	nav {
		justify-content: center;
		width: 100%;
	}

	.nav__list {
		margin-top: 1em;
		width: 100%;
		justify-content: center;
	}
}
